@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
} */


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    /* --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%; */
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    /* --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%; */
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.ce-block__content {
  @apply max-w-[calc(100vw-80px)] md:max-w-[calc(100vw-280px)] 2xl:max-w-[calc(100vw-600px)];
}


.ce-popover {
  --border-radius: 6px;
  --width: 200px;
  --max-height: 270px;
  --padding: 6px;
  --offset-from-target: 8px;
  --color-border: hsl(var(--input));
  --color-shadow: rgba(13, 20, 33, .13);
  --color-background: white;
  --color-text-primary: black;
  --color-text-secondary: #707684;
  --color-border-icon: hsl(var(--border));
  --color-border-icon-disabled: #EFF0F1;
  --color-text-icon-active: #388AE5;
  --color-background-icon-active: rgba(56, 138, 229, .1);
  --color-background-item-focus: rgba(34, 186, 255, .08);
  --color-shadow-item-focus: rgba(7, 161, 227, .08);
  --color-background-item-hover: #eff2f5;
  --color-background-item-confirm: #E24A4A;
  --color-background-item-confirm-hover: #CE4343;
}

.dark .ce-popover {
  --border-radius: 6px;
  --width: 200px;
  --max-height: 270px;
  --padding: 6px;
  --offset-from-target: 8px;
  --color-border: hsl(var(--input));
  --color-shadow: rgba(13, 20, 33, .13);
  --color-background: hsl(var(--background));
  --color-text-primary: hsl(var(--foreground));
  --color-text-secondary: #292929;
  --color-border-icon: rgba(8, 8, 8, 0.48);
  --color-border-icon-disabled: #EFF0F1;
  --color-text-icon-active: #388AE5;
  --color-background-icon-active: rgba(56, 138, 229, .1);
  --color-background-item-focus: rgba(10, 13, 14, 0.08);
  --color-shadow-item-focus: rgba(7, 161, 227, .08);
  --color-background-item-hover: hsl(var(--muted));
  --color-background-item-confirm: #E24A4A;
  --color-background-item-confirm-hover: #CE4343;
}


.dark .ce-toolbar__actions>div,
.dark .ce-toolbar__actions>span {
  @apply bg-transparent text-muted-foreground;
}

.dark .ce-popover__search {
  @apply bg-transparent text-muted-foreground
}

.dark .ce-block--selected .ce-block__content {
  @apply bg-neutral-800;
}

.dark .ce-paragraph[data-placeholder]:empty::before {
  @apply text-muted-foreground;

}

.dark .ce-popover .ce-popover-item__icon {
  background-color: transparent;
  color: inherit;
  border: 1.5px solid hsl(var(--input));
}


.dark .ce-popover-item--focused:not(.ce-popover-item--no-focus) {
  @apply !bg-muted border border-neutral-700/30 shadow-none
}

.dark .ce-inline-toolbar {
  background-color: hsl(var(--background));
  border: 1.5px solid hsl(var(--border));
}

.dark .ce-popover-item--confirmation {
  @apply text-destructive-foreground
}

.dark .ce-block__content *::selection {
  @apply bg-primary/80
}

.dark .ce-inline-toolbar .ce-inline-toolbar__dropdown {
  @apply px-1.5 transition-colors duration-200 ease-in-out text-accent-foreground hover:bg-muted;
}

.dark .ce-inline-toolbar button {
  @apply px-1.5 transition-colors duration-200 ease-in-out text-accent-foreground hover:bg-muted;
}

.dark .ce-inline-toolbar button.ce-inline-tool--active {
  @apply bg-muted;
}

.dark .ce-conversion-toolbar {
  @apply bg-background border-border;
}

.dark .ce-conversion-toolbar .ce-conversion-tool__icon {
  @apply bg-transparent border-[1.5px] shadow-none border-input;
}

.dark .ce-conversion-toolbar .ce-conversion-tool {
  @apply transition-colors duration-200 ease-in-out hover:bg-muted;
}

.dark .ce-block__content,
.dark .ce-inline-toolbar,
.dark .codex-editor--narrow .ce-toolbox,
.dark .ce-conversion-toolbar,
.dark .ce-settings,
.dark .ce-settings__button,
.dark .ce-toolbar__settings-btn,
.dark .cdx-button,
.dark .ce-popover,
.dark .tc-popover,
.dark .ce-toolbar__plus:hover {
  color: inherit;
  border-color: theme("colors.border");
}


.dark .tc-popover__item-icon,
.dark .ce-popover-item__icon,
.dark .ce-toolbar__plus,
.dark .tc-add-column,
.dark .ce-conversion-tool__icon {
  background-color: theme("colors.muted.DEFAULT");
  color: theme("colors.foreground");
  box-shadow: none;
  border-color: theme("colors.border");
}

.ce-conversion-tool.ce-conversion-tool--focused {
  @apply !bg-primary-dark/20;
}

.ce-conversion-tool.ce-conversion-tool--focused .ce-conversion-tool__icon {
  @apply border-primary/20;
}

.cdx-checklist__item--checked .cdx-checklist__item-checkbox-check {
  @apply !bg-primary !border-primary/80;
}

.cdx-checklist__item-checkbox-check:before {
  @apply !bg-primary;
}